<h1 style="margin-bottom: 15px;">
  <i class="material-icons">segment</i> Segmento
</h1>
<div class="container">

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="segmentoForm.nome" name="nivelNome" matInput placeholder="Nome...">
    </mat-form-field>
    <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="createSegmento()">Salvar</button>
    </div>
  </form>
</div>
