<h1 style="margin-bottom: 15px;">
  <i class="material-icons">person</i> Usuários
  <button style="float: right;" mat-raised-button color="warn" [routerLink]="['/usuarioCreate']"> <i class="material-icons">add</i> Adicionar Usuário</button>
</h1>
<div class="container">
  <div class="mat-elevation-z8">
    <table class="table" style="background-color: #fff;">
      <thead style="border-bottom: 1px solid black; bottom: 15px;">
        <td style="font-weight: bold; text-align: center; padding: 15px 0;">Nome</td>
        <td style="font-weight: bold; text-align: center; padding: 15px 0;">Login</td>
        <td style="font-weight: bold; text-align: center; padding: 15px 0;">Nível</td>
        <td></td>
        <td></td>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of allUsuario">
          <th style="font-weight: normal;text-align: center; padding-top: 20px;"> {{ usuario.nome }}</th>
          <th style="font-weight: normal;text-align: center; padding-top: 20px;"> {{ usuario.login }}</th>
          <th style="font-weight: normal;text-align: center; padding-top: 20px;"> {{ usuario.nivel }}</th>
          <th style="font-weight: normal;text-align: center; padding-top: 10px;">
            <button mat-icon-button [routerLink]="['/usuarioUpdate',usuario.id]" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </th>
          <th style="font-weight: normal;text-align: center; padding-top: 10px;">
            <button mat-icon-button color="warn" (click)="onDelete(usuario.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>


<form>
  <div class="modal fade" tabindex="-1" id="deleteModal" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza de excluir este item?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>

