h1{
  border-top: 1px solid rgb(44, 44, 44);
  padding-top: 2px;
  font-size: 28px;
  margin-bottom: 20px;
}

mat-form-field{
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.container{
  margin: 2% auto;
}

select{
  width: 100%;
  background-color: transparent;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

select option{
  height: 25px !important;
  border-radius: 3px !important;
}

