<h1 style="margin-bottom: 15px;">
  <i class="material-icons">person</i> Usuário
</h1>
<div class="container">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="usuarioForm.nome" name="nome" matInput placeholder="Nome...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nível</mat-label>
      <input [(ngModel)]="usuarioForm.nivel" name="nivel" min="0" max="3" type="number" matInput placeholder="Nível...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input [(ngModel)]="usuarioForm.login" type="email" name="email" matInput placeholder="E-mail...">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="usuarioForm.senha" name="senha" type="password" matInput placeholder="Senha...">
    </mat-form-field>

    <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" (click)="gotoList()">Cancelar</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="updateUsuario()">Salvar</button>
    </div>
  </form>
</div>
