<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register Yourself!</h6>
        </div>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="usuarioForm.nome" name="nome" matInput placeholder="Nome...">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nível</mat-label>
            <input [(ngModel)]="usuarioForm.nivel" name="nivel" type="number" matInput placeholder="Nível...">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input [(ngModel)]="usuarioForm.login" type="email" name="email" matInput placeholder="E-mail...">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="usuarioForm.senha" name="senha" type="password" matInput placeholder="Senha...">
          </mat-form-field>

          <div style="padding-top: 8px; float: right;" mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" (click)="gotoLogin()">Cancelar</button>
            <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="createUsuario()">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
